* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    width: 100%;
    background-color: rgb(49,198,191);
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 130px
}

.navbar__lists {
    display: flex;
    align-items: center;
}

.navbar__lists > ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navbar__lists > ul > li {
    padding: 20px;
}

.navbarBtn {
    padding: 10px 20px 10px 20px;
    background-color: rgb(22, 22, 219);
    color: white;
    border-radius: 20px;
    border: none;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 120px;
    width: 100%;
    height: calc(100vh - 80px);
}

.slogan { 
    display: flex;
    height: 100%;
    width: 100%;
}

.slogan__image {
    height: 100%;
    width: 40%;
}

.slogan__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slogan__text {
    height: 100%;
    width: 60%;
    padding: 20px;
   
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.indicators {
    display: flex;
    justify-content: 
    space-between; width: 80%;
}

.slogan__textBtn {
    width: 25%;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(49,198,191);
    color: white;
    border: none;
}
.slogan__textBtn:hover {
    cursor: pointer;
}

.item1 {
    background-color: rgba(39, 36, 36, 0.533);
    grid-area: one;
    
}
.item2 {
    grid-area: two;
    background-image: url(./img/cat1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.item3 {
    grid-area: three;
    background-color: rgba(222, 199, 199, 0.533);
}
.item4 {
    grid-area: four;
    background-image: url(./img/cat2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-container {
    display: grid;
    grid-template-areas: 'one two three'
                         'one four four '  
    ;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    width: 100%;
    margin-top: 50px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    border: 1px solid black;

}

.text {
    width: 80%;
    max-width: 1500px; 
    margin: 15% auto;
    padding: 28px 28px;
    height: 75%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: start;
    font-size: large;
    color: black;
}

.textBtn {
    width: 50%;
    padding: 15px;
    background-color: transparent;
    color: white; border-color:
    white; margin-top: 40px;
}
.textBtn:hover {
    cursor: pointer;
}


.containerTwo {
    max-width: 1500px;
    margin: 90px auto;
    padding: 50px 120px;
    width: 100%;

}

.reservition {
    width: 100%;
    height: 100%;
    display: flex;
}

.reservition__left > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reservition__left {
    width: 50%;
}

.reservition__right {
    width: 50%;
    padding: 30px 50px;  
    padding-top: 50px;
    background-color: rgb(0, 0, 47);
}

.reservition__right > input {
    width: 47%;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.reservitionBtn {
    color: white;
    background-color: orange;
    border: none;
    font-size: larger;
}