
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 95%;
    height: 600px;
    margin: 90px auto;
    display: flex;
    justify-content: flex-start;
    font-size: x-large;
}
.container > div {
    width: 50%;
}

.button {
    padding: 12px;
    margin-top: 20px;
    border: 2px solid red;
    color: red;
    background-color: white;
    width: 20%;
}

.button:hover{
    cursor: pointer;
    background-color: blanchedalmond;
}